/**
 * CSS Column helpers
 */
.css-cols--xs-1 {
  columns: 1;
}
.css-cols--xs-2 {
  columns: 2;
}
.css-cols--xs-3 {
  columns: 3;
}
.css-cols--xs-4 {
  columns: 4;
}

@each $breakpoint in sm, md, lg, xl, xxl, xxxl {
  @media (--media-$(breakpoint)-min) {
    @for $i from 1 to 4 {
      .css-cols--$(breakpoint)-$i {
        columns: $(i);
      }
    }
  }
}
