/**
 * Text align helpers
 */
.text--xs-left {
  text-align: left !important;
}
.text--xs-center {
  text-align: center !important;
}
.text--xs-right {
  text-align: right !important;
}
.text--xs-justify {
  text-align: justify !important;
}

@each $breakpoint in sm, md, lg, xl, xxl, xxxl {
  @media (--media-$(breakpoint)-min) {
    @each $align in left, center, right, justify {
      .text--$(breakpoint)-$align {
        text-align: $(align) !important;
      }
    }
  }
}
