@font-face {
  font-family: "<%= fontName %>";
  <% if (formats.indexOf('eot') > -1) { %>src: url('<%= fontPath %><%= fontName %><% if (timestamp && !param) { %>@t<%= timestamp %><% } %>.eot<% if (timestamp && param) { %>?t=<%= timestamp %><% } %>');
  <% } %>src: <% if (formats.indexOf('eot') > -1) { %>url('<%= fontPath %><%= fontName %><% if (timestamp && !param) { %>@t<%= timestamp %><% } %>.eot?#iefix<% if (timestamp && param) { %>&t=<%= timestamp %><% } %>') format('eot'), <% } %><% if (formats.indexOf('woff2') > -1) { %>url('<%= fontPath %><%= fontName %><% if (timestamp && !param) { %>@t<%= timestamp %><% } %>.woff2<% if (timestamp && param) { %>?t=<%= timestamp %><% } %>') format('woff2'), <% } %><% if (formats.indexOf('woff') > -1) { %>url('<%= fontPath %><%= fontName %><% if (timestamp && !param) { %>@t<%= timestamp %><% } %>.woff<% if (timestamp && param) { %>?t=<%= timestamp %><% } %>') format('woff'), <% } %><% if (formats.indexOf('ttf') > -1) { %>url('<%= fontPath %><%= fontName %><% if (timestamp && !param) { %>@t<%= timestamp %><% } %>.ttf<% if (timestamp && param) { %>?t=<%= timestamp %><% } %>') format('truetype'), <% } %><% if (formats.indexOf('svg') > -1) { %>url('<%= fontPath %><%= fontName %><% if (timestamp && !param) { %>@t<%= timestamp %><% } %>.svg<% if (timestamp && param) { %>?t=<%= timestamp %><% } %>#<%= fontName %>') format('svg')<% } %>;
}

[class*="<%= cssPrefix %>"] {
  display: inline-block;
  font-family: "<%= fontName %>" !important;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-decoration: none;
  text-transform: none;
}

<% _.each(glyphs, function(glyph) { %>
.<%= cssPrefix %><%= glyph.name %>:before {
  content: "\<%= glyph.codepoint %>";
}
<% }); %>
