
@-ms-viewport { width: device-width; }

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $font-size-root;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  @include font-smoothing;
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;

  overflow: auto;
  overflow: overlay;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  break-inside: avoid;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

a,
.link {
  color: $link-color;
  text-decoration: $link-decoration;
  transition: $link-transition;
  .no-touchevents & {
    &:hover {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }
  &:focus {
    @include tab-focus;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 1.5rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 1.5rem;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

[hidden] {
  display: none !important;
}
