[data-load-img][src]:not([src=""]),
[data-load-bg],
[data-load-video],
[data-load-srcset][src]:not([src=""]),
[data-load-bg-srcset],
[data-load-media-inside] [data-img-src][src]:not([src=""]),
[data-load-media-inside] [data-bg-src],
[data-load-media-inside] [data-video-src] {
  /* position: relative; */
  filter: blur(60px);
  transition: filter 0.5s var(--easeOutQuad);

  &.media--loaded {
    filter: none;
  }
}
