
body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;

  .debug-mode &,
  &.debug-mode {
    &:before {
      background: rgba(255,0,0,0.5);
      color: white;
      content: ' ';
      font-size: 0.875rem;
      font-weight: 700;
      padding: 0.25rem;
      position: fixed;
      pointer-events: none;
      top: 0;
      right: 0;
      left: 0;
      text-align: center;
      z-index: 999999999999999999999999;

      @media (--media-xs-min) {
        content: 'xs';
      }

      @media (--media-sm-min) {
        content: 'sm';
      }

      @media (--media-md-min) {
        content: 'md';
      }

      @media (--media-lg-min) {
        content: 'lg';
      }

      @media (--media-xl-min) {
        content: 'xl';
      }

      @media (--media-xxl-min) {
        content: 'xxl';
      }

      @media (--media-xxxl-min) {
        content: 'xxxl';
      }
    }
  }

}
.site-header {
  background: #ccc;
  flex: 0 0 auto;
}
.site-content {
  flex: 1 0 auto;
}
.site-footer {
  background: #ccc;
  flex: 0 0 auto;
}
