/**
 * Size mixins
 */

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin view-padding($width: 64rem) {
  padding-left: calc(50% - ($width / 2));
  padding-right: calc(50% - ($width / 2));
}
