
$screen-xs-min: 30em;
$screen-sm-min: 48em;
$screen-md-min: 64em;
$screen-lg-min: 75em;
$screen-xl-min: 90em;

$screen-xs-max: ($screen-sm-min - 0.001);
$screen-sm-max: ($screen-md-min - 0.001);
$screen-md-max: ($screen-lg-min - 0.001);
$screen-lg-max: ($screen-xl-min - 0.001);
