bower_components
node_modules
.tmp

*.sublime-project
*.sublime-workspace

# if you want to exclude build files, uncomment the following:
# assets/css/bundle.css
# assets/fonts/icons.*
# assets/js/bundle.js
# assets/js/fallback.js
# /stats.html
# /sw.js
