$ratio-16-9: (100% / 16 * 9);
$ratio-16-10: (100% / 16 * 10);
$ratio-4-3: (100% / 4 * 3);
$ratio-3-4: (100% / 3 * 4);
$ratio-1-1: 100%;
$ratio-portrait: $ratio-3-4;
$ratio-landscape: $ratio-16-9;
$ratio-square: $ratio-1-1;

$module-padding: 2rem, 2rem, 4rem, 5rem, 5rem, 6rem;
